<!-- Utilisation d'un composant "app-auth-card" avec des propriétés liées à des variables du composant parent -->

<app-auth-card [formGroup]="passwordFormGroup"
               [title]="title"
               [buttonName]="buttonName"
               [showBackButton]="false"
               (submitForm)="onSubmit()">

  <!-- Composant personnalisé 'app-password' utilisé pour la saisie du mot de passe -->
  <div class="mb-3">
    <app-password [formData]="passwordFormGroup"></app-password>
  </div>
  
</app-auth-card>
