<!--
  Le composant `app-list` est utilisé pour afficher une liste d'historiques (Historical) avec des colonnes spécifiques.
  Il prend plusieurs paramètres en entrée pour personnaliser son comportement.

  @Input() name: string - Le nom de l'affichage, généralement utilisé comme titre de la liste.
  @Input() entityName: string - Le nom de l'entité associée à la liste (dans ce cas, "Historical").
  @Input() namecolumns: string[] - Les noms des colonnes à afficher dans l'en-tête de la liste.
  @Input() columns: string[] - Les propriétés de l'entité à afficher dans chaque colonne.
  @Input() items: any[] - Les éléments (entités) à afficher dans la liste.
  @Input() showPlusButton: boolean - Un indicateur pour afficher ou masquer le bouton "Plus" (true pour afficher, false pour masquer).
  @Input() showButtonAction: boolean - Un indicateur pour afficher ou masquer les boutons d'action (true pour afficher, false pour masquer).
-->

<app-list [name]="nameType"
          [entityName]="entityName"
          [namecolumns]=" ['Ref', 'Nom produit', 'Utilisateur', 'Statut', 'Contrôle date', 'Action']"
          [columns]="['stock.id', 'stock.product.name', this.getUtilisateurValue,
                        this.getStatutValue, 'controleDate', 'action']"     
          [showPlusButton]="false"
          [showButtonAction]="false">
</app-list>





