<!--
  Structure HTML pour l'affichage des informations utilisateur dans un composant mat-card.
  Il inclut le nom, prénom, pseudo, email, avec des boutons pour fermer et modifier.
-->
@if(user$ | async; as user) {
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Mes informations</mat-card-title>     
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" gutterSize="5px" rowHeight="35px">
        <mat-grid-tile>Nom</mat-grid-tile>
        <mat-grid-tile>{{user.lastname}}</mat-grid-tile>
        <mat-grid-tile>Prénom</mat-grid-tile>
        <mat-grid-tile>{{user.firstname}}</mat-grid-tile>
        <mat-grid-tile>Pseudo</mat-grid-tile>
        <mat-grid-tile>{{user.userName}}</mat-grid-tile>
        <mat-grid-tile>Email</mat-grid-tile>
        <mat-grid-tile>{{user.email}}</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-evenly">
      <button mat-raised-button
              color="accent"           
              (click)="onUpdateInformation(user.id)">
        MODIFIER
      </button>
      <button mat-raised-button
              color="primary"             
              (click)="onClose()">
        FERMER
      </button>
    </mat-card-actions>
  </mat-card>
</div>
}
