mat-header-cell {
  background-color: #673ab7;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.selection, .instruction{
  background-color: #FFD740;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

.selection {
  width: 180px;
}

.instruction {
  width: 400px;  
}

mat-icon{
  margin-right:5px;
}
