<!--
  Le composant `app-list` est utilisé pour afficher une liste d'utilisateurs (User) avec des colonnes spécifiques.
  Il prend plusieurs paramètres en entrée pour personnaliser son comportement.

  @Input() name: string - Le nom de l'affichage, généralement utilisé comme titre de la liste.
  @Input() entityName: string - Le nom de l'entité associée à la liste (dans ce cas, "Historical").
  @Input() namecolumns: string[] - Les noms des colonnes à afficher dans l'en-tête de la liste.
  @Input() columns: string[] - Les propriétés de l'entité à afficher dans chaque colonne.
  @Input() items: any[] - Les éléments (entités) à afficher dans la liste.
  @Input() formControlConfigs: FormControlConfig[] - La configuration des contrôles du formulaire.
  @Input() entity: any - L'entité à afficher dans le formulaire.
  @Input() selectedNameDisable: string - le nom à afficher dans le menu déroulant
  @Input() showPlusButton: boolean - Un indicateur pour afficher ou masquer le bouton "Plus" (true pour afficher, false pour masquer).
  -->

<app-list [name]="nameType"
          [entityName]="entityName"
          [namecolumns]="['Nom', 'Prénom', 'Mail', 'Pseudo', 'Role']"
          [columns]="['lastname', 'firstname', 'email', 'userName', 'role']"  
          [formControlConfigs]="config"
          [entity]="entity"
          [selectNameDisable]="'un rôle '"
          [showPlusButton]="false"
          [userInfo]="true">
</app-list>
