/* Style CSS */

/* Style pour les champs de formulaire Material Design */
mat-form-field {
  width: 90%; /* Largeur du champ de formulaire */
  margin: auto; /* Marge automatique pour centrer le champ de formulaire */
}

/* Style pour les icônes Material Design */
mat-icon {
  margin-top: -15px; /* Marge négative pour ajuster le positionnement de l'icône */
}

/* Style pour les icônes Material Design dans du texte */
.material-icons {
  display: inline-flex; /* Affichage en ligne flexible pour les icônes dans le texte */
  vertical-align: middle; /* Alignement vertical au milieu */
}

/* Style pour les indications dans les champs de formulaire */
mat-hint {
  position: relative; /* Position relative par rapport à l'élément parent */
  text-align: left; /* Alignement du texte à gauche */
  font-size: 10px; /* Taille de police pour les indications */
}

/*Ajouter un margin top pour avant le bloc des validations*/
.validation {
  margin-top: -10px;
}

/* Style pour les champs de saisie */
input {
  position: absolute; /* Position absolue par rapport à l'élément parent */
  top: 8px; /* Position à 8 pixels du haut */
}

.confirm {
  margin-left: 38px;
  margin-top: -15px;
  color: var(--warn);
}

