<!-- Formulaire de modification du mot de passe -->
<form [formGroup]="formPassword">
  <!-- Conteneur principal -->

    <!-- Première rangée -->
    <div class="row mt-3">
      <div class="col-12">
        <!-- Champ de formulaire pour le mot de passe -->
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'"
                 placeholder="Mot de passe" />
          <!-- Bouton pour masquer ou afficher le mot de passe -->
          <button mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
        </mat-form-field>

        <!-- Indications de validation pour le mot de passe -->
        <div class="d-block" style="margin-left:50px">
          <div class="row validation">
            <!-- Indication de longueur minimale -->
            <mat-hint class="col" [style.color]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('minlength') ?
                      themeService.getWarn() : themeService.getPrimary()">
              <i class="material-icons">
                {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}
              </i>
              Doit comporter au moins 8 caractères
            </mat-hint>


            <!-- Indication de présence d'au moins un chiffre -->
            <mat-hint class="col" [style.color]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasNumber')  ?
                      themeService.getWarn() : themeService.getPrimary()">
              <i class="material-icons">
                {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}
              </i>
              Doit contenir au moins un chiffre
            </mat-hint>
          </div>

          <!-- Indication de présence d'au moins une majuscule et une minuscule -->
          <div class="row">
            <mat-hint class="col" [style.color]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasCapitalCase')  ?
                      themeService.getWarn() : themeService.getPrimary()">
              <i class="material-icons">
                {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
              </i>
              Doit contenir au moins une majuscule
            </mat-hint>

            <mat-hint class="col" [style.color]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSmallCase')  ?
                      themeService.getWarn() : themeService.getPrimary()">
              <i class="material-icons">
                {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
              </i>
              Doit contenir au moins une minuscule
            </mat-hint>
          </div>

          <!-- Indication de présence d'au moins un caractère non alphanumérique -->
          <div class="row">
            <mat-hint class="col" [style.color]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSpecialCharacters') ?
                      themeService.getWarn() : themeService.getPrimary()">
              <i class="material-icons">
                {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}
              </i>
              Doit contenir au moins un caractère non alphanumérique
            </mat-hint>
          </div>
        </div>
      </div>
    </div>

    <!-- Deuxième rangée pour la confirmation du mot de passe -->
    <div class="row mt-4">
      <div class="col-12">
        <!-- Champ de formulaire pour la confirmation du mot de passe -->
        <mat-form-field appearance="outline">
          <mat-label>Confirmation du mot de passe</mat-label>
          <input formControlName="confirmPassword" matInput [type]=" hide2 ? 'password' : 'text'"
                 placeholder="Confirmation du mot de passe" />
          <!-- Bouton pour masquer ou afficher la confirmation du mot de passe -->
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide2 ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
        </mat-form-field>

        <!-- Messages d'erreur pour la confirmation du mot de passe -->
        @if(formPassword.controls['confirmPassword'].hasError('required')){
        <mat-hint class="d-block confirm">Confirmation du mot de passe est requise !</mat-hint>
        }
        @if(formPassword.controls['confirmPassword'].hasError('NoPasswordMatch')){
        <mat-hint class="d-block confirm">Le mot de passe ne correspond pas</mat-hint>
        }
      </div>
    </div>

</form>
