/* Définir une largeur de 400px pour les éléments avec la classe "full-width" */
.full-width {
  width: 400px;
}

/* Style pour les messages d'erreur dans les composants Angular Material */
mat-error {
  position: absolute;
  left: 100px;
  margin-top: -18px;
  font-size: 10px;
}

/* Centrer les champs de formulaire Angular Material */
mat-form-field {
  margin: auto;
}

/* Ajuster la marge pour mat-icon (icônes Material Design) */
mat-icon {
  margin-top: -15px;
}

/* Positionner les éléments input en absolu avec un décalage top de 8px */
input {
  position: absolute;
  top: 8px;
}

/* Style pour les paragraphes */
p {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 85px;
  text-align: left;
  font-size: 18px;
}

.container {
  max-width: 600px;
  text-align:center;
}
