<!-- Utilisation d'un composant "app-auth-card" avec des propriétés liées à des variables du composant parent -->

<app-auth-card [formGroup]="forgotFormGroup"
               [title]="title"
               [buttonName]="buttonName"
               [showBackButton]="true"
               (submitForm)="onSubmit()">

  <!-- Message instructif pour l'utilisateur -->
  <p>Veuillez entrer votre email</p>

  <!-- Bloc pour la saisie de l'email -->
  <div class="email-input mb-3">

    <!-- Utilisation d'un composant Material Design pour les champs de formulaire -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>

      <!-- Input pour l'email lié à un contrôle de formulaire -->
      <input formControlName="email" matInput
             placeholder="Entrer votre email" />
    </mat-form-field>

    <!-- Affichage des erreurs de validation de l'email si le champ a été touché -->
    <mat-error *ngIf="forgotFormGroup.controls['email'].errors && forgotFormGroup.controls['email'].touched" class="text-danger">
      {{errorService.getErrorMessage('Email', forgotFormGroup.controls['email'].errors)}}
    </mat-error>
  </div>

</app-auth-card>

<!-- Affichage d'un message de succès conditionnel -->  
<div class="container">
  @if (sendMail$ | async) {
  <div class="alert alert-success mt-4" role="alert">
    {{ successMessage }}
  </div>
  }
</div>



